@font-face {
	font-family: 'Saans-Medium';
	src: url('/fonts/Saans-Medium-1.woff2') format('woff2'), url('/fonts/Saans-Medium-1.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Saans-Regular';
	src: url('/fonts/Saans-Regular-1.woff2') format('woff2'), url('/fonts/Saans-Regular-1.woff') format('woff');
	font-display: swap;
}